{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": ".\/"
    },
    "logs": {
        "text": "./ci/infection-full.log",
        "summary": "./ci/infection-summary.log",
        "github": true,
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}