{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": ".\/"
    },
    "logs": {
        "text": "./ci/infection-full.log"
    },
    "mutators": {
        "@default": true
    }
}