name: PHP code quality

on:
  push:
  pull_request:

jobs:
  static:
    name: Static code analysis
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@2.36.0
      with:
        php-version: '8.2'
        tools: composer
        extensions: dom, simplexml

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer dependencies
      uses: actions/cache@v5
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - name: composer install
      run: composer install --no-interaction --no-progress

    - name: Run PHPStan
      run: composer run phpstan

  test:
    name: Tests on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']

    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@2.36.0
      with:
        php-version: ${{ matrix.php }}
        tools: composer
        coverage: xdebug
        extensions: dom, simplexml

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer dependencies
      uses: actions/cache@v5
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - name: composer install
      run: composer install --no-interaction --no-progress

    - name: Run test suite
      run: composer run phpunit

    - uses: codecov/codecov-action@v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./build/coverage/clover.xml

    - name: Run PHPInfection
      run: composer run infection
      env:
        STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  rector:
    name: Rector
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: '8.2'
          tools: composer
          coverage: none

      - name: composer install
        run: composer install --no-interaction --no-progress

      - name: Execute Rector
        run: vendor/bin/rector process src tests -c build/config/rector.php --dry-run
